<h2 mat-dialog-title>Inicia sesion:</h2>

<mat-dialog-content>
  <div class="register-container">

    <!-- Form container-->
    <form [formGroup]="form" class="form text-center">
      <table cellspacing="1">

        <!-- Email input-->
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Correo</mat-label>
              <input matInput formControlName="email">
              <mat-error *ngIf="email.invalid && email.errors.required">
                El correo es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="email.invalid && email.errors.pattern">
                El correo debe ser <strong>valido</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <!-- Password input-->
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Contraseña</mat-label>
              <input matInput formControlName="password" type="password">
              <mat-error *ngIf="password.invalid && password.errors.required">
                La contraseña es <strong>requerida</strong>
              </mat-error>
              <mat-error *ngIf="password.invalid && password.errors.minlength">
                La contraseña debe ser <strong>mayor de 8</strong>
              </mat-error>
              <mat-error *ngIf="(password.dirty || password.touched) && password.invalid  && password.errors.pattern">
                La contraseña debe tener al menos <strong>1 mayuscula, 1 minuscula y 1 numero</strong>
              </mat-error>

            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button color="primary" class="mt-30" [disabled]="!form.valid" mat-dialog-close
              (click)="login()">Ingresar</button>

          </td>
        </tr>
      </table>
    </form>
  </div>
</mat-dialog-content>
