.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px auto;
  grid-template-areas: 'welcome welcome'
    'balance table';
  overflow: hidden;
}

.welcome-title {
  grid-row: welcome;
  grid-column: welcome;
}

.balance {
  grid-row: balance;
  grid-column: balance;
}

td,
th {
  width: 25%;
}
