.container {
  margin: 30px 50px 20px 50px;
}

.filter {
  max-width: 25%;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 16%;
}

.buttons {
  margin-top: 10px;
}

.icon-up {
  color: green;
}

.icon-down {
  color: red;
}

.text-center {
  text-align: center;
}

.ml-5 {
  margin-left: 5px;
}
