<div class="container">

  <div class="title">
    <h2 class="text-center">LISTA DE TODAS TUS TRANSACCIONES: </h2>
  </div>

  <mat-form-field class="filter">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Cine, 4.55, ingreso" #input>
    <mat-hint>Ingrese una letra, palabra o número para buscar relaciones</mat-hint>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Concept Column -->
      <ng-container matColumnDef="concept">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CONCEPTO </th>
        <td mat-cell *matCellDef="let row"> {{row.concept | titlecase}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </th>
        <td mat-cell *matCellDef="let row"> {{row.transactionDate}} </td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MONTO </th>
        <td mat-cell *matCellDef="let row"> {{row.amount}} $ </td>
      </ng-container>

      <!-- Type Column if -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO </th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="row.type === 0">
            Ingreso <mat-icon class="icon-up ml-5">arrow_upward</mat-icon>
          </div>
          <div *ngIf="row.type === 1">
            Egreso <mat-icon class="icon-down ml-5">arrow_downward</mat-icon>
          </div>
        </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button class="bg-info text-white" (click)="updateTransaction(row)">Editar</button>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="warn" (click)="deleteTransaction(row)">Eliminar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se han encontardo resultados con la palabra: "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

  <div class="buttons">
    <button mat-raised-button color="accent" (click)="createTransaction()">Agregar</button>
  </div>

</div>
