.list-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto auto;
  overflow: hidden;
}

table {
  min-width: 100%;
}

.filter {
  max-width: 25%;
  margin-bottom: 20px;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 20%;
}

@media screen and (max-width:480px) {

  .filter {
    max-width: 90%;
    justify-self: center;
  }

  .e-container {
    height: auto;
    width: auto;
    max-width: 100%;
    overflow: auto;
    background-color: white !important;
    justify-self: center;

  }

  table {
    width: 800px;
  }

  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }

  td,
  th {
    width: unset;
  }

  .mat-column-select {
    max-width: 5px !important;
  }

}
