<div class="index-container min-vh-100 w-100 pb-20">

  <div class="cover text-center">
    <h1 class="display-1 pt-50">PERSONAL</h1>
    <h2 class="subtitle"> Tu app de administracion presupuestaria</h2>
    <img src="../../../../assets/img/marketing.png" alt="">
  </div>

  <div class="text-center auth pt-50">
    <p>Para comenzar a usar nuestra app:</p><br>
    <button mat-raised-button color="primary" (click)="register()">Registrarse</button> <br>
    <p class="mt-30">o si ya tienes una cuenta:</p><br>
    <button mat-raised-button color="primary" (click)="login()">Iniciar Sesion</button><br>


    <ul class="caution text-justify">

      <h4 class="mt-30">Antes de continuar:</h4>

      <li> Para registrarte se te pedira que valides tu correo, sino quieres hacerlo puedes entrar
        en modo invitado.</li>
      <li> Todos los correos registrados seran eliminados una vez culminado el proyecto.</li>
      <li>Todos los datos guardados por usuarios seran eliminados una vez culminado el proyecto.</li>
      <li>Al continuar usando la app esta aceptando todo lo menciando anteriormente.</li>
    </ul>

    <button mat-raised-button color="primary" class="mt-30">Modo invitado</button> <br>
  </div>

</div>
