html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-100 {
  width: 100% !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}

.pb-20 {
  padding-bottom: 20px;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left;
}

.display-1 {
  font-size: 3.5rem !important;
  font-weight: 300 !important;
  line-height: 1.2 !important;

}

.positive {
  color: green;
}

.negative {
  color: red;
}

.table-container {
  justify-self: center;
  width: 90%;
  overflow: hidden;
}
